*{
    margin: 0px;
}
body{
    background-image: linear-gradient( 45deg, blue, green);
}
table{
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}
td.last{
    background-color:#00ced1;
}
tr{
    background-color: #333;
}
td{
    border-radius: 20px;
    padding: 20px 30px;
}
th{
    border-radius: 20px;
    padding: 20px 30px;
}
div.th{
    background-color: #000;
    text-align: center;
}
tr.first{
    background-color: #000;
}